<div [@overlay-transition]="(visible | async) ? 'visible' : 'hidden'" class="overlay" (click)="close()"></div>

<div #panel [@panel-transition]="(visible | async)  ? 'visible' : 'hidden'" class="panel">
  <div class="float-left">
    <h2 class="mb-4">Create a new user</h2>
  </div>

  <div class="float-right">
    <a (click)="close()" href="javascript:void(0);" class="panel-close">
      <fa-icon [icon]="faTimes"></fa-icon>
    </a>
  </div>
  
  <div class="clearfix"></div>
  
  <users-form
    #userForm
    [form]="form"
    [countries]="countries"
    [parent]="'Add'"
    (validatedEvent)="submit()"
  ></users-form>
</div>