<ng-container *ngIf='pagination | async as pagination'>
  <div [@list-transition]='pagination.Items.length'>
    <div *ngFor="let user of pagination.Items">
      <div class="card mb-2" style="padding: 15px;">
        <div class="row justify-content-sm-between align-items-sm-center">
          <div class="col-md-2">
            <div class="form-group">
              <label class="small">Name</label>
              <label>{{ user.Name }}</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="small">Email</label>
              <label>{{ user.Email }}</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="small">Document</label>
              <label>{{ user.Document }}</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <div class="form-group">
              <label class="small">Birthday</label>
              <label>{{ user.Birthdate.toLocaleDateString() }}</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <a (click)="edit(user)" href="javascript:void(0);" class="action-icon">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
            <a (click)="delete(user)" href="javascript:void(0);" class="action-icon">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>


  </div>
</ng-container>
