<ng-container *ngIf='pagination | async as pagination'>
  <div [@list-transition]='pagination.Items.length'>
    <div *ngFor="let user of pagination.Items">
      <div class="card mb-2" style="padding: 15px;">
        <div class="row justify-content-sm-between align-items-sm-center">
          <div class="col-md-2">
            <div class="form-group">
              <label class="small">Name</label>
              <label>{{ user.Name }}</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="small">Email</label>
              <label>{{ user.Email }}</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="small">Document</label>
              <label>{{ user.Document }}</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <div class="form-group">
              <label class="small">Birthday</label>
              <label>{{ user.Birthdate.toLocaleDateString() }}</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <a href="javascript:void(0);" class="action-icon">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
            <a href="javascript:void(0);" class="action-icon">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
