<div class="container">
  <h2 class="mb-4">Cards</h2>
  
  <ng-container *ngIf='cards | async as items'>
    <div [@list-transition]='items.length' class="row">
      <div *ngFor="let card of items" class="col-lg-4 mb-lg-0">
        <div class="card mb-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ card.Title }}</h5>
            <p class="card-text">{{ card.Description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ card.Link }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>