<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<div class="container"> 
  <dot-mine-filter></dot-mine-filter>
  <!-- (onUpdateFilters)="updateFilters($event)"> -->

  <dot-mine-list></dot-mine-list>
    <!-- #listCanal 
      (editEvent)="openEditPanel($event)" 
      (exportList)="applyExportList($event)"> -->
    
  <dot-mine-add></dot-mine-add>
    <!-- *ngIf="adding"
    #canalAdd 
    (returnSave)="added()" 
    (closeModal)="closeModal()"> -->

  <dot-mine-edit></dot-mine-edit> 
    <!-- *ngIf="editing"
    #canalEdit 
    [element]="editingElement" 
    (returnEdit)="edited()" 
    (closeModal)="closeModal()"> -->    
</div>

<app-footer></app-footer>