<div class="container">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="text-center mb-5">
          <h6 class="h3">Welcome back</h6>
          <p class="text-muted mb-0">Sign in to your account to continue</p>
        </div>
        
        <span class="clearfix"></span>

        <form [formGroup]="form" (ngSubmit)="submit()" _lpchecked="1">
          <div class="form-group">
            <label class="form-control-label">Email address</label>
              <div class="input-group input-group-transparent">
                <input formControlName="Email" autofocus type="email" class="form-control" id="input-email" placeholder="name@example.com" autocomplete="off">
              </div>
              <ng-container *ngIf="submitted && form.controls.Email.errors">
                <small *ngIf="form.controls.Email.errors.required" class="d-inline-block">Email is required</small>
                <small *ngIf="form.controls.Email.errors.email" class="d-inline-block">Email must be a valid email address</small>
              </ng-container>
          </div>
          <div class="form-group mb-4">
            <label class="form-control-label">Password</label>
            <div class="input-group input-group-transparent">
              <input formControlName="Password" type="password" class="form-control" id="input-password" placeholder="Password" autocomplete="off">
            </div>
            <ng-container *ngIf="submitted && form.controls.Password.errors">
              <small *ngIf="form.controls.Password.errors.required">Password is required</small>
              <small *ngIf="form.controls.Password.errors.minlength">Password must be at least 6 characters</small>
            </ng-container>
          </div>
          <div class="text-center mb-3">
            <button type="submit" class="btn btn-block btn-primary">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>