<div class="container mb-5"> 
  <h2 class="mb-4">Users</h2>

  <users-filter #userFilter 
    (filterEvent)="filter($event)">
  </users-filter>

  <users-list #userList>
  </users-list>
    <!-- #listCanal 
      (editEvent)="openEditPanel($event)" 
      (exportList)="applyExportList($event)"> -->

  <users-add #userAdd
    [hidden]="add">
  </users-add>
  <!-- *ngIf="adding"
  #canalAdd 
  (returnSave)="added()" 
  (closeModal)="closeModal()"> -->

  <!-- <users-edit></users-edit>  -->
</div>
