<div class="container"> 
  <app-breadcrumb></app-breadcrumb>

  <slide-panel [activePane]="isLeftVisible ? 'left' : 'right'">
    <div left-panel>
      <users-filter></users-filter>
      <!-- (onUpdateFilters)="updateFilters($event)"> -->
    
      <users-list></users-list>
        <!-- #listCanal 
          (editEvent)="openEditPanel($event)" 
          (exportList)="applyExportList($event)"> -->
    </div>
    <div right-panel>
      <users-add></users-add>
      <!-- *ngIf="adding"
      #canalAdd 
      (returnSave)="added()" 
      (closeModal)="closeModal()"> -->
  
      <users-edit></users-edit> 
    </div>
  </slide-panel>
  
  <button (click)="isLeftVisible = !isLeftVisible">Toggle panes</button>
</div>
