<app-header></app-header>

<div class="container"> 
  <app-breadcrumb></app-breadcrumb>

  <dot-users-filter></dot-users-filter>
  <!-- (onUpdateFilters)="updateFilters($event)"> -->

  <dot-users-list></dot-users-list>
    <!-- #listCanal 
      (editEvent)="openEditPanel($event)" 
      (exportList)="applyExportList($event)"> -->
    
  <dot-users-add></dot-users-add>
    <!-- *ngIf="adding"
    #canalAdd 
    (returnSave)="added()" 
    (closeModal)="closeModal()"> -->

  <dot-users-edit></dot-users-edit> 
    <!-- *ngIf="editing"
    #canalEdit 
    [element]="editingElement" 
    (returnEdit)="edited()" 
    (closeModal)="closeModal()"> -->    
</div>

<app-footer></app-footer>