<div [@overlay-transition]="(visible | async) ? 'visible' : 'hidden'" class="overlay" (click)="close()"></div>

<div #panel [@panel-transition]="(visible | async)  ? 'visible' : 'hidden'" class="panel">
  <div class="row mb-2 mb-2">
    <div class="col-lg-12">
      <div class="card">
      <div class="card-body">
        <h4 class="header-title mb-3">Edit:</h4>
        
        <users-form></users-form>
      </div>
      </div>
    </div>
  </div>
  <div class="row mb-2 mb-2">
      <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Search for mine:</h4>
          
          <users-form></users-form>
        </div>
        </div>
      </div>
    </div>
    <div class="row mb-2 mb-2">
        <div class="col-lg-12">
          <div class="card">
          <div class="card-body">
            <h4 class="header-title mb-3">Search for mine:</h4>
            
            <users-form></users-form>
          </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 mb-2">
          <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-3">Search for mine:</h4>
              
              <users-form></users-form>
            </div>
            </div>
          </div>
        </div>
        <div class="row mb-2 mb-2">
            <div class="col-lg-12">
              <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-3">Search for mine:</h4>
                
                <users-form></users-form>
              </div>
              </div>
            </div>
          </div>
          <div class="row mb-2 mb-2">
              <div class="col-lg-12">
                <div class="card">
                <div class="card-body">
                  <h4 class="header-title mb-3">Search for mine:</h4>
                  
                  <users-form></users-form>
                </div>
                </div>
              </div>
            </div>
            <div class="row mb-2 mb-2">
                <div class="col-lg-12">
                  <div class="card">
                  <div class="card-body">
                    <h4 class="header-title mb-3">Search for mine:</h4>
                    
                    <users-form></users-form>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2 mb-2">
                  <div class="col-lg-12">
                    <div class="card">
                    <div class="card-body">
                      <h4 class="header-title mb-3">Search for mine:</h4>
                      
                      <users-form></users-form>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-2 mb-2">
                    <div class="col-lg-12">
                      <div class="card">
                      <div class="card-body">
                        <h4 class="header-title mb-3">Search for mine:</h4>
                        
                        <users-form></users-form>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-2 mb-2">
                      <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body">
                          <h4 class="header-title mb-3">Search for mine:</h4>
                          
                          <users-form></users-form>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2 mb-2">
                        <div class="col-lg-12">
                          <div class="card">
                          <div class="card-body">
                            <h4 class="header-title mb-3">Search for mine:</h4>
                            
                            <users-form></users-form>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-2 mb-2">
                          <div class="col-lg-12">
                            <div class="card">
                            <div class="card-body">
                              <h4 class="header-title mb-3">Search for mine:</h4>
                              
                              <users-form></users-form>
                            </div>
                            </div>
                          </div>
                        </div>
</div>